.section {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}

.profile-photo img {
    height: 300px;
    border-radius: 10px;
}

.profile-details {
    max-width: 500px;
}

.profile-details h2, .profile-details p {
    margin: 5px 0;
}

.list-images {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.list-images img {
    height: 250px;
    border-radius: 5px;
}
